<% if @error_message %>
	<div class="alert alert-warning"><%= @error_message %></div>
<% end %>
<h1>チュートリアル購入ページ</h1>
この画面では数量を入力します。
<h2>残高:<%= @user.cash %>円</h2>
<h2>銘柄: <%= @company.name %></h2>
<h2>株価:  <%= @company.value %>円</h2>
<h2>単元株: <%= @company.unit %></h2>
<%= form_for @order, url: trial_confirm_path do |f| %>
    <div class="field">
    <%= f.label :quantity, "購入株数" %><br>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :company_id %>
    <%= f.hidden_field :order_value %>
    購入株数に100を入力してみましょう！
    </div>
    <%= f.submit "確認画面へ", class: "btn btn-large btn-primary" %>
<% end %>


