<h1>確認画面</h1>
<h1>銘柄:<%= @company.name %></h1>
<h1>購入株数:<%= @order.quantity %>株</h1>
<h1>購入金額:<%= @company.value * @order.quantity %>円</h1>
<h1>購入後の残高:<%= current_user.cash - @company.value * @order.quantity %>円</h1>
<%= form_for @order, url: tutorial_complete_path do |f| %>
<%= f.hidden_field :company_id %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :quantity %>
<%= f.hidden_field :order_value %>
<%= f.submit "決定", class: "btn btn-large btn-primary" %>

<% end %>